In [1]:
import pandas as pd

In [4]:
df_1 = pd.read_parquet("~/temp/movie/dt=20210101")  # df에 dt가 없음
df_2 = pd.read_parquet("~/temp/movie/") # dt가 있음

#df.to_parquet("~/temp/movie", partition_cols=['dt']) # 우리가 만든 것

In [5]:
df_1.head(1)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,OLD,20112207,미션임파서블:고스트프로토콜,2011-12-15,2776060500,36.3,-415699000,-13,40541108500,353274,-60106,-14.5,5328435,697,3223

In [6]:
df_2.head(1)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt
0,1,1,0,OLD,20112207,미션임파서블:고스트프로토콜,2011-12-15,2776060500,36.3,-415699000,-13,40541108500,353274,-60106,-14.5,5328435,697,3223,20210101