In [62]:
import pandas as pd
PATH = "~/data/movies/dailyboxoffice/dt=20240101"
df = pd.read_parquet(PATH)
len(df)

50

In [63]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
.size() \
.reset_index(name='count')

  multiMovieYn repNationCd  count
0            N           F      0
1            N           K      0
2            N         NaN     10
3            Y           F      0
4            Y           K      0
5            Y         NaN     10
6          NaN           F     10
7          NaN           K     10
8          NaN         NaN     10

In [64]:
Ndf = df[df["multiMovieYn"] == "N"]
Ndf

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
10,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,40.2,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,N,NaN
11,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,37.0,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,N,NaN
12,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.8,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,N,NaN
13,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,7.1,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,N,NaN
14,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.8,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,N,NaN
15,6,6,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,1.6,2278496,2.0,3046919883,11586,190,1.7,332776,335,432,N,NaN
16,7,7,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.4,-13487835,-11.9,488186693,10704,-1268,-10.6,52400,357,419,N,NaN
17,8,8,0,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,0.5,-2349427,-5.8,868379725,3765,-164,-4.2,89597,95,127,N,NaN
18,9,9,0,OLD,20190324,3일의 휴가,2023-12-06,28109697,0.4,-5429437,-16.2,4863180386,3295,-626,-16.0,517836,132,157,N,NaN
19,10,10,0,OLD,20235098,나폴레옹,2023-12-06,4056567,0.1,-89539,-2.2,2246030517,540,-20,-3.6,225912,23,25,N,NaN

In [65]:
Ydf = df[df["multiMovieYn"] == "Y"]
Ydf

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
20,1,1,0,OLD,20234114,괴물,2023-11-29,92381680,37.0,-3768994,-3.9,3884333955,8710,-524,-5.7,396137,187,263,Y,NaN
21,2,2,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,21.3,-707720,-1.3,372974290,6471,67,1.0,45294,207,248,Y,NaN
22,3,3,0,OLD,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,12.7,-15234118,-32.5,317887981,3001,-1659,-35.6,34196,200,270,Y,NaN
23,4,4,0,OLD,20233299,크레센도,2023-12-20,29203100,11.7,-2644200,-8.3,424298400,2534,-235,-8.5,39445,79,102,Y,NaN
24,5,5,0,OLD,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,4.4,285955,2.7,163391820,1052,-28,-2.6,17008,30,33,Y,NaN
25,6,6,0,OLD,20235693,리빙: 어떤 인생,2023-12-13,6942434,2.8,-1569966,-18.4,174717087,729,-181,-19.9,18551,20,23,Y,NaN
26,7,7,5,OLD,20234664,그대들은 어떻게 살 것인가,2023-10-25,3371362,1.4,-142718,-4.1,19543638004,318,-29,-8.4,2009716,17,20,Y,NaN
27,8,8,2,OLD,20124722,피아니스트의 전설,2020-01-01,3063078,1.2,-1092200,-26.3,416989591,294,-142,-32.6,51876,23,25,Y,NaN
28,9,8,0,NEW,20236533,립세의 사계,2024-01-10,2804970,1.1,2804970,100.0,4330970,294,294,100.0,512,4,4,Y,NaN
29,10,10,4,OLD,19860125,쿼바디스,1973-01-13,589000,0.2,149000,33.9,37856982,292,72,32.7,20951,1,3,Y,NaN

In [61]:
Fdf = df[df["repNationCd"] == "F"]
Fdf

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
30,1,1,0,OLD,20112207,미션임파서블:고스트프로토콜,2011-12-15,2776060500,36.3,-415699000,-13.0,40541108500,353274,-60106,-14.5,5328435,697,3223,NaN,F
31,2,2,1,OLD,20110295,마이 웨이,2011-12-21,1189058500,15.6,-105894500,-8.2,13002897500,153501,-16465,-9.7,1739543,588,2321,NaN,F
32,3,3,-1,OLD,20112621,셜록홈즈 : 그림자 게임,2011-12-21,1176022500,15.4,-210328500,-15.2,10678327500,153004,-31283,-17.0,1442861,360,1832,NaN,F
33,4,4,0,OLD,20113260,퍼펙트 게임,2011-12-21,644532000,8.4,-75116500,-10.4,6640940000,83644,-12225,-12.8,895416,396,1364,NaN,F
34,5,5,0,OLD,20113271,프렌즈: 몬스터섬의비밀,2011-12-29,436753500,5.7,-89051000,-16.9,1523037000,55092,-15568,-22.0,202909,290,838,NaN,F
35,6,6,1,OLD,19940256,라이온 킹,1994-07-02,507115500,6.6,-114593500,-18.4,1841625000,45750,-11699,-20.4,171285,244,895,NaN,F
36,7,7,-1,OLD,20113381,오싹한 연애,2011-12-01,344871000,4.5,-107005500,-23.7,20634684500,45062,-15926,-26.1,2823060,243,839,NaN,F
37,8,8,0,OLD,20112709,극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」,2011-12-22,167809500,2.2,-45900500,-21.5,1897120000,24202,-7756,-24.3,285959,186,348,NaN,F
38,9,9,0,OLD,20113311,앨빈과 슈퍼밴드3,2011-12-15,137030000,1.8,-35408000,-20.5,3416675000,19729,-6461,-24.7,516289,169,359,NaN,F
39,10,10,0,OLD,20112708,극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」,2011-12-22,125535500,1.6,-40756000,-24.5,1595695000,17817,-6554,-26.9,235070,175,291,NaN,F

In [66]:
Kdf = df[df["repNationCd"] == "K"]
Kdf

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
40,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,49.8,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,K
41,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,45.9,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,NaN,K
42,3,3,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,2.0,2278496,2.0,3046919883,11586,190,1.7,332776,335,432,NaN,K
43,4,4,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.7,-13487835,-11.9,488186693,10704,-1268,-10.6,52400,357,419,NaN,K
44,5,5,0,OLD,20190324,3일의 휴가,2023-12-06,28109697,0.5,-5429437,-16.2,4863180386,3295,-626,-16.0,517836,132,157,NaN,K
45,6,6,2,OLD,20202247,싱글 인 서울,2023-11-29,1903007,0.0,-409621,-17.7,3740536035,212,-17,-7.4,399787,9,9,NaN,K
46,7,7,-1,OLD,20228560,너와 나,2023-10-25,2625839,0.0,-3233861,-55.2,330224803,192,-337,-63.7,33811,8,8,NaN,K
47,8,8,1,OLD,20235697,엔시티 네이션 : 투 더 월드 인 시네마,2023-12-06,1364000,0.0,-3168000,-69.9,554784000,69,-144,-67.6,25099,8,8,NaN,K
48,9,9,6,OLD,20232077,어른 김장하,2023-11-15,214000,0.0,-58000,-21.3,230592472,31,-8,-20.5,27603,2,2,NaN,K
49,10,10,3,OLD,20227525,교토에서 온 편지,2023-12-06,207000,0.0,-67800,-24.7,58288197,29,-19,-39.6,6717,3,3,NaN,K

In [67]:
Nan_df = df[df["multiMovieYn"].isna() & df["repNationCd"].isna()]
Nan_df

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
0,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,NaN
1,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,35.8,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,NaN,NaN
2,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.6,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,NaN,NaN
3,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,6.8,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,NaN,NaN
4,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.7,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,NaN,NaN
5,6,6,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,1.5,2278496,2.0,3046919883,11586,190,1.7,332776,335,432,NaN,NaN
6,7,7,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.3,-13487835,-11.9,488186693,10704,-1268,-10.6,52400,357,419,NaN,NaN
7,8,8,0,OLD,20234114,괴물,2023-11-29,92381680,1.2,-3768994,-3.9,3884333955,8710,-524,-5.7,396137,187,263,NaN,NaN
8,9,9,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,0.7,-707720,-1.3,372974290,6471,67,1.0,45294,207,248,NaN,NaN
9,10,10,1,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,0.5,-2349427,-5.8,868379725,3765,-164,-4.2,89597,95,127,NaN,NaN

In [78]:
df.groupby(['movieCd'], dropna=False, observed=False).agg(
    movieNm=('movieNm', 'first'),
    count=('movieCd', 'size')
).reset_index().sort_values(by='count', ascending=False)

     movieCd                               movieNm  count
12  20234673                      뽀로로 극장판 슈퍼스타 대모험      3
23  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~      3
4   20203702                            노량: 죽음의 바다      3
5   20212866                                 서울의 봄      3
21  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!      3
20  20235980                             말하고 싶은 비밀      3
10  20234114                                    괴물      3
18  20235735                          아쿠아맨과 로스트 킹덤      3
14  20235290                             도티와 영원의 탑      3
15  20235596                            트롤: 밴드 투게더      3
16  20235693                             리빙: 어떤 인생      2
2   20190324                                3일의 휴가      2
22  20236080                         류이치 사카모토: 오퍼스      2
9   20233299                                  크레센도      2
19  20235923                            사랑은 낙엽을 타고      2
17  20235697                엔시티 네이션 : 투 더 월드 인 시네마      1
0   19860125                                  쿼바디스      1
13  20235098                                  나폴레옹      1
1   20124722                             피아니스트의 전설      1
11  20234664                        그대들은 어떻게 살 것인가      1
8   20232077                                어른 김장하      1
7   20228560                                  너와 나      1
6   20227525                             교토에서 온 편지      1
3   20202247                               싱글 인 서울      1
24  20236533                                립세의 사계      1

In [83]:
grouped_df = df.groupby('movieCd').size().reset_index(name='count')
grouped_df[grouped_df['count'] > 1]

     movieCd  count
2   20190324      2
4   20203702      3
5   20212866      3
9   20233299      2
10  20234114      3
12  20234673      3
14  20235290      3
15  20235596      3
16  20235693      2
18  20235735      3
19  20235923      2
20  20235980      3
21  20236045      3
22  20236080      2
23  20236146      3

In [97]:
grouped_df = df.groupby('movieCd', as_index=False).agg({
    'movieNm': 'first',  # movieCd에 해당하는 첫 번째 movieNm을 선택
    'multiMovieYn': 'first',  # multiMovieYn Nan이 아닌 값이 있으면 선택 없으면 Nan 선택
    'repNationCd': 'first'  # repNationCd Nan이 아닌 값이 있으면 선택 없으면 Nan 선택
})

# 결과 확인
grouped_df

     movieCd                               movieNm multiMovieYn repNationCd
0   19860125                                  쿼바디스            Y         NaN
1   20124722                             피아니스트의 전설            Y         NaN
2   20190324                                3일의 휴가            N           K
3   20202247                               싱글 인 서울          NaN           K
4   20203702                            노량: 죽음의 바다            N           K
5   20212866                                 서울의 봄            N           K
6   20227525                             교토에서 온 편지          NaN           K
7   20228560                                  너와 나          NaN           K
8   20232077                                어른 김장하          NaN           K
9   20233299                                  크레센도            Y           F
10  20234114                                    괴물            Y           F
11  20234664                        그대들은 어떻게 살 것인가            Y         NaN
12  20234673                      뽀로로 극장판 슈퍼스타 대모험            N           K
13  20235098                                  나폴레옹            N         NaN
14  20235290                             도티와 영원의 탑            N           K
15  20235596                            트롤: 밴드 투게더            N           F
16  20235693                             리빙: 어떤 인생            Y           F
17  20235697                엔시티 네이션 : 투 더 월드 인 시네마          NaN           K
18  20235735                          아쿠아맨과 로스트 킹덤            N           F
19  20235923                            사랑은 낙엽을 타고            Y           F
20  20235980                             말하고 싶은 비밀            N           F
21  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!            Y           F
22  20236080                         류이치 사카모토: 오퍼스            Y           F
23  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~            N           F
24  20236533                                립세의 사계            Y         NaN

In [99]:
def first_non_null(series):
    return series.dropna().iloc[0] if not series.dropna().empty else None

# groupby 수행
grouped_df = df.groupby('movieCd', as_index=False).agg({
    'movieNm': 'first',  # movieCd에 해당하는 첫 번째 movieNm 선택
    'multiMovieYn': first_non_null,  # NaN이 아닌 첫 번째 값이 있으면 선택, 없으면 NaN
    'repNationCd': first_non_null  # NaN이 아닌 첫 번째 값이 있으면 선택, 없으면 NaN
})

# 결과 확인
grouped_df

     movieCd                               movieNm multiMovieYn repNationCd
0   19860125                                  쿼바디스            Y         NaN
1   20124722                             피아니스트의 전설            Y         NaN
2   20190324                                3일의 휴가            N           K
3   20202247                               싱글 인 서울          NaN           K
4   20203702                            노량: 죽음의 바다            N           K
5   20212866                                 서울의 봄            N           K
6   20227525                             교토에서 온 편지          NaN           K
7   20228560                                  너와 나          NaN           K
8   20232077                                어른 김장하          NaN           K
9   20233299                                  크레센도            Y           F
10  20234114                                    괴물            Y           F
11  20234664                        그대들은 어떻게 살 것인가            Y         NaN
12  20234673                      뽀로로 극장판 슈퍼스타 대모험            N           K
13  20235098                                  나폴레옹            N         NaN
14  20235290                             도티와 영원의 탑            N           K
15  20235596                            트롤: 밴드 투게더            N           F
16  20235693                             리빙: 어떤 인생            Y           F
17  20235697                엔시티 네이션 : 투 더 월드 인 시네마          NaN           K
18  20235735                          아쿠아맨과 로스트 킹덤            N           F
19  20235923                            사랑은 낙엽을 타고            Y           F
20  20235980                             말하고 싶은 비밀            N           F
21  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!            Y           F
22  20236080                         류이치 사카모토: 오퍼스            Y           F
23  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~            N           F
24  20236533                                립세의 사계            Y         NaN

In [100]:
import pandas as pd
PATH = "~/data/movies/dailyboxoffice/dt=20240101"
df = pd.read_parquet(PATH)
len(df)

50

퀴즈
1)movieCd 기준 unique 한 영화는 몇 편 인가요?
2)multiMovieYn, repNationCd 를 내부 참조하여 최대한 fill 했을 때
2-1. multiMovieYn 이 NaN 인 건수는?
2-2. repNationCd 이 NaN 인 건수는?
2-3. multiMovieYn 과 repNationCd 이 동시에 NaN 인 건수는?
3)unique 한 영화목록의 audiCnt(관객수) 를 기준으로 rnum, rank 를 새로 생성하고 이때 head 3 와 tail 3 의 영화명은?

In [103]:
#- rankInten(전일대비 순위의 증감분을 출력) 은 사용하지 않음 drop 시킴

df2 = df.drop(columns=['rankInten'])
df2.head()

,rnum,rank,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
0,1,1,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,NaN
1,2,2,OLD,20212866,서울의 봄,2023-11-22,2666429137,35.8,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,NaN,NaN
2,3,3,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.6,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,NaN,NaN
3,4,4,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,6.8,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,NaN,NaN
4,5,5,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.7,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,NaN,NaN

In [162]:
# 1) movieCd 기준 unique 한 영화는 몇 편 인가요?

df2['movieCd'].nunique()

25

In [159]:
# 2-1. multiMovieYn 이 NaN 인 건수는?

# 결과 확인
df2_filled[df2_filled['multiMovieYn'].isna()]

#len(df2_filled[df2_filled['multiMovieYn'].isna()])

,rnum,rank,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
20,6,6,OLD,20202247,싱글 인 서울,2023-11-29,1903007,0.0,-409621,-17.7,3740536035,212,-17,-7.4,399787,9,9,NaN,K
21,7,7,OLD,20228560,너와 나,2023-10-25,2625839,0.0,-3233861,-55.2,330224803,192,-337,-63.7,33811,8,8,NaN,K
22,8,8,OLD,20235697,엔시티 네이션 : 투 더 월드 인 시네마,2023-12-06,1364000,0.0,-3168000,-69.9,554784000,69,-144,-67.6,25099,8,8,NaN,K
23,9,9,OLD,20232077,어른 김장하,2023-11-15,214000,0.0,-58000,-21.3,230592472,31,-8,-20.5,27603,2,2,NaN,K
24,10,10,OLD,20227525,교토에서 온 편지,2023-12-06,207000,0.0,-67800,-24.7,58288197,29,-19,-39.6,6717,3,3,NaN,K

In [157]:
#2-2. repNationCd 이 NaN 인 건수는?

df2_filled[df2_filled['repNationCd'].isna()]

#len(df2_filled[df2_filled['repNationCd'].isna()])

,rnum,rank,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
11,10,10,OLD,20235098,나폴레옹,2023-12-06,4056567,0.1,-89539,-2.2,2246030517,540,-20,-3.6,225912,23,25,N,NaN
16,7,7,OLD,20234664,그대들은 어떻게 살 것인가,2023-10-25,3371362,1.4,-142718,-4.1,19543638004,318,-29,-8.4,2009716,17,20,Y,NaN
17,8,8,OLD,20124722,피아니스트의 전설,2020-01-01,3063078,1.2,-1092200,-26.3,416989591,294,-142,-32.6,51876,23,25,Y,NaN
18,9,8,NEW,20236533,립세의 사계,2024-01-10,2804970,1.1,2804970,100.0,4330970,294,294,100.0,512,4,4,Y,NaN
19,10,10,OLD,19860125,쿼바디스,1973-01-13,589000,0.2,149000,33.9,37856982,292,72,32.7,20951,1,3,Y,NaN

In [150]:
len(df2_filled[df2_filled['multiMovieYn'].isna() & df2_filled['repNationCd'].isna()])

0

In [176]:
# 3)unique 한 영화목록의 audiCnt(관객수) 를 기준으로 rnum, rank 를 새로 생성하고 이때 head 3 와 tail 3 의 영화명은?

df3 = df2_filled.drop(columns=['rnum','rank'])
df3_sorted = df3.sort_values(by='audiCnt', ascending=False)

df3_sorted['rnum'] = range(1, len(df3_sorted) + 1)
df3_sorted['rank'] = range(1, len(df3_sorted) + 1)

df3_sorted

,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd,rnum,rank
0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,N,K,1,1
1,OLD,20212866,서울의 봄,2023-11-22,2666429137,35.8,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,N,K,2,2
2,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.6,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,N,F,3,3
3,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,6.8,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,N,F,4,4
4,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.7,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,N,F,5,5
5,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,1.5,2278496,2.0,3046919883,11586,190,1.7,332776,335,432,N,K,6,6
6,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.3,-13487835,-11.9,488186693,10704,-1268,-10.6,52400,357,419,N,K,7,7
7,OLD,20234114,괴물,2023-11-29,92381680,1.2,-3768994,-3.9,3884333955,8710,-524,-5.7,396137,187,263,Y,F,8,8
8,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,0.7,-707720,-1.3,372974290,6471,67,1.0,45294,207,248,Y,F,9,9
9,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,0.5,-2349427,-5.8,868379725,3765,-164,-4.2,89597,95,127,N,F,10,10
10,OLD,20190324,3일의 휴가,2023-12-06,28109697,0.4,-5429437,-16.2,4863180386,3295,-626,-16.0,517836,132,157,N,K,11,11
12,OLD,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,12.7,-15234118,-32.5,317887981,3001,-1659,-35.6,34196,200,270,Y,F,12,12
13,OLD,20233299,크레센도,2023-12-20,29203100,11.7,-2644200,-8.3,424298400,2534,-235,-8.5,39445,79,102,Y,F,13,13
14,OLD,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,4.4,285955,2.7,163391820,1052,-28,-2.6,17008,30,33,Y,F,14,14
15,OLD,20235693,리빙: 어떤 인생,2023-12-13,6942434,2.8,-1569966,-18.4,174717087,729,-181,-19.9,18551,20,23,Y,F,15,15
11,OLD,20235098,나폴레옹,2023-12-06,4056567,0.1,-89539,-2.2,2246030517,540,-20,-3.6,225912,23,25,N,NaN,16,16
16,OLD,20234664,그대들은 어떻게 살 것인가,2023-10-25,3371362,1.4,-142718,-4.1,19543638004,318,-29,-8.4,2009716,17,20,Y,NaN,17,17
17,OLD,20124722,피아니스트의 전설,2020-01-01,3063078,1.2,-1092200,-26.3,416989591,294,-142,-32.6,51876,23,25,Y,NaN,18,18
18,NEW,20236533,립세의 사계,2024-01-10,2804970,1.1,2804970,100.0,4330970,294,294,100.0,512,4,4,Y,NaN,19,19
19,OLD,19860125,쿼바디스,1973-01-13,589000,0.2,149000,33.9,37856982,292,72,32.7,20951,1,3,Y,NaN,20,20
20,OLD,20202247,싱글 인 서울,2023-11-29,1903007,0.0,-409621,-17.7,3740536035,212,-17,-7.4,399787,9,9,NaN,K,21,21
21,OLD,20228560,너와 나,2023-10-25,2625839,0.0,-3233861,-55.2,330224803,192,-337,-63.7,33811,8,8,NaN,K,22,22
22,OLD,20235697,엔시티 네이션 : 투 더 월드 인 시네마,2023-12-06,1364000,0.0,-3168000,-69.9,554784000,69,-144,-67.6,25099,8,8,NaN,K,23,23
23,OLD,20232077,어른 김장하,2023-11-15,214000,0.0,-58000,-21.3,230592472,31,-8,-20.5,27603,2,2,NaN,K,24,24
24,OLD,20227525,교토에서 온 편지,2023-12-06,207000,0.0,-67800,-24.7,58288197,29,-19,-39.6,6717,3,3,NaN,K,25,25

In [173]:
df3_sorted.head(3)['movieNm']

0                              노량: 죽음의 바다
1                                   서울의 봄
2    신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~
Name: movieNm, dtype: object

In [174]:
df3_sorted.tail(3)['movieNm']

22    엔시티 네이션 : 투 더 월드 인 시네마
23                    어른 김장하
24                 교토에서 온 편지
Name: movieNm, dtype: object